.results{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.produto{
    display: flex;
    align-items: center;
    gap: 24px;

    background: var(--light);

    height: 72px;

    border-radius: 6px;

    overflow: hidden;

    padding-right: 16px;

}

.produto > img{
    width: 33%;
    height: 100%;
    object-fit: cover;
}

.produto_informations{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.produto_informations .titulo_produto{
    font-size: 14px;
}

.produto_informations .descricao_produto{
    font-size: 12px;
}

.produto button{
    width: fit-content;
    height: fit-content;

    font-size: 24px;

    padding: 8px;
}

.produto button ion-icon{
    color: var(--white);
}