.modal,
#modal{
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    padding: 56px 24px;

    display: none;
    z-index: 5;

    /* padding: 20% 56px; */
}

.modal.show,
#modal.show{
    display: flex;
}

.card-modal{
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;

    width: 100%;
    height: fit-content;
    background: var(--white);


    z-index: 2;
}

.card-modal .close{
    width: fit-content;
    align-self: flex-end;
    background: none;

    padding: 0;

    font-size: 32px;
}

.card-modal .row{
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.card-modal .row .left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-modal > :last-child{
    margin-top: 16px;
}

.bg-blur{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}

