main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 8px;
}

#denunciar_anuncio{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    color: var(--black);
}

main img{
    width: 100%;
    height: 188px;
    object-fit: cover;


}

.informations{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.informations h4{
    text-align: center;
    font-size: 16px;
}

.informations .row{
    display: flex;
    align-items: center;
    gap: 12px;
}

.informations .row ion-icon{
    font-size: 24px;
}

.informations .row p{
    font-size: 16px;
}

.user-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;

    overflow: hidden;
}

.user-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#valor_total{
    text-align: center;
    color: var(--green);
}

.input-wrapper textarea{
    padding-bottom: 48px;
}